.pageContainer {
  padding: 0 20%;
  margin-top: 2rem;
}

.pageTitle {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.detailsContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.userDetails,
.bookDetails {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.userDetails h2,
.bookDetails h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.userDetails p,
.bookDetails p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.logoutButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.bookCard {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid #eee;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.bookCoverImage {
  width: 80px;
  height: 100px;
  object-fit: cover;
  margin-right: 1rem;
}

.bookInfo h3 {
  margin: 0;
  font-size: 1.2rem;
}

.bookInfo p {
  margin: 0.2rem 0;
}
