.bookList{
    list-style: none;
    padding: 0;
}

.searchBook{
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    color: var(--gray-100);
    background-color: var(--white);
    border: 1px solid var(--green-800);
    height: 40px;
    padding: 0 0.5rem;
}

.bookItem{
    display: flex;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

.bookCover{
    width: 100px;
    height: 150px;
    margin-right: 10px;
}

.bookDetails{
    flex: 1;
}

.availableBooks{
    color: var(--green-800);
}

.buttonBooking{
    border-radius: 0.3rem;
    height: 40px;
    border: 5;
    background-color: var(--green-800);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
}