.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 5rem;
}

.container {
  display: flex;
  flex: 1;
}

.title {
  color: var(--black);
  font-size: 2rem;
  margin-top: 20px;
  border: 2px solid #ccc;
  background-color: yellow;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 1rem;
}

.content {
  margin-left: 200px;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

.bookTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.bookTable th,
.bookTable td {
  border: 1px solid #dddddd;
  padding: 8px;
}

.bookTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.bookTable tbody tr:hover {
  background-color: #f5f5f5;
}

.bookCoverImage {
  max-width: 100px;
  max-height: 150px;
  display: block;
  margin: 0 auto;
}

.searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
